extends layout
block content 
    .row
        .col
            .mx-5
                h1 Rezeptseite
                    table 
                        thead                      
                            tr
                                th Rezepte
                tbody
                    tr
                        td  Nudeln